@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; /* Added font size */
  line-height: 1.5; /* Added line height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 14px; /* Added font size */
}

/* Added some basic styling for your HTML elements */
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
}



